<div id="user-chat-box">
    <ul id="chat-messages-list">
        <li class="other-message">
            <span>Message from user</span>
        </li>
        <li class="self-message">
            <span>Message to user</span>
        </li>
    </ul>
    <div id="message-input-container">
        <!-- <form action="/addchat" method="post"> -->
            <input type="text" name="send_msg" id="inp_send_msg" placeholder="Type Message here...">
            <input type="submit" value="Send" id="send-message">
        <!-- </form> -->
    </div>
</div>