<h1>Ooops!! Did you forget your password? Change it here!</h1>

<form action="/user/reset_password?accessToken=<%=accessToken%>" method="POST">
    <input type="email" name="email" id="inp_uname" placeholder="Your User Name/ E-mail" required>
    <input type="password" name="Choose_password" id="inp_pw" placeholder="Your Password" required>
    <input type="password" name="Confirm_password" id="inp_cnf_pw" placeholder="Your Password" required>
    <input type="hidden" name="accessToken" value="<%=accessToken%>">
    <button type="submit" id="btn_submit" onclick="displayAlert();">Submit</button>
</form> 

<script src="<%= assetPath('js/forgot_password.js') %>"></script>
