<!-- <html>
    <head>
        <title><%=title%></title>
    </head>
    <body>  (commented for the functioning of layouts.)--> 

        <!-- <header>
            Page Header
        </header> -->
        <!-- Using Partials -->
        <!-- removed the commented "include header part" as it was making the header to be included twice -->
        <h1>Codeial Home / <%=title%></h1>
        <!-- <%-include('_footer');%> -->
        <!-- <footer>
            Page Footer
        </footer> -->
    <!-- </body> -->
<!-- </html> -->