<!-- <html>
    <head>
        <title><%=title%></title>
    </head>
    <body>  (commented for the functioning of layouts.)--> 

        <!-- <header>
            Page Header
        </header> -->
        <!-- Using Partials -->
        <!-- <%-include('_header');%> -->
        <h1>Codeial Home / <%=title%></h1>
        <!-- <%-include('_footer');%> -->
        <!-- <footer>
            Page Footer
        </footer> -->
    </body>
<!-- </html> -->