<h1>Codeial Login</h1>
<form action="/user/create-session" method="POST">
    <input type="email" name="email" id="inp_uname" placeholder="Your User Name" required>
    <input type="password" name="password" id="inp_pw" placeholder="Your Password" required>
    <button type="submit" id="btn_login">Login</button>
</form> 
<p>
    <a class = "link_google" href="/user/auth/google">Google Sign-In / Sign-Up </a>
</p>