<!-- <html>
    <head>
        <title>
            <%=locals.title%>
        </title>
    </head>
    <body> (commented for the functioning of layouts.) -->
        <!-- <header>
            Page Header
        </header> -->
        <!-- Using Partials -->
        <!-- <%-include('_header');%> -->
        <link rel="stylesheet" href="/css/user_profile.css">
        <!-- 1.including css file for this page separately.
             not an optimised approach, since the link is just floating, not properly placed in the head tag.
             still laying my hands on it to just explore!! :P
             2. above approach is insufficient when the app isn't extracting styles in the app index file. 
             -->
        <h1>Codeial-Users!</h1>
        <!-- <%-include('_footer');%> -->
        <!-- <footer>
            Page Footer
        </footer> -->
    <!-- </body>
</html> -->