* {
  box-sizing: border-box; }

header {
  display: flex;
  color: whitesmoke;
  font-family: ui-monospace;
  font-size: x-large;
  text-shadow: 2px 2px 5px #f0f4c3;
  background-image: url("../images/gradient-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  header #header_logo {
    flex: 7; }
  header #auth_links {
    display: flex;
    flex-direction: row !important;
    flex-grow: 5.2;
    justify-content: space-evenly; }
    header #auth_links ul {
      display: flex;
      list-style-type: none;
      flex-grow: 0.2;
      justify-content: space-evenly; }
      header #auth_links ul li a {
        color: whitesmoke;
        text-decoration: none; }
