#user-chat-box {
  position: fixed;
  bottom: 0px;
  min-height: 300px;
  border: 2px solid black;
  max-height: 300px;
  right: 0px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; }
  #user-chat-box ul {
    display: flex;
    flex-direction: column; }
  #user-chat-box li {
    min-height: 40px; }
  #user-chat-box .other-message {
    border: 2px solid aliceblue;
    list-style-type: none;
    min-width: 200px;
    background-color: hotpink;
    margin-left: -40px;
    display: inline-block;
    max-width: 200px;
    align-self: flex-start; }
  #user-chat-box .self-message {
    border: 2px solid aliceblue;
    list-style-type: none;
    text-align: right;
    display: inline-block;
    background-color: lightcoral;
    max-width: 200px;
    align-self: flex-end;
    min-width: 200px; }
  #user-chat-box #message-input-container {
    display: inline-block;
    position: fixed;
    bottom: 2px; }
    #user-chat-box #message-input-container input[type=text] {
      width: 230px;
      padding: 10px;
      border: 2px solid #e91e63; }
    #user-chat-box #message-input-container input[type=submit] {
      padding: 9px 11px;
      background-color: #e91e63;
      color: blanchedalmond; }
