html {
  overflow-y: scroll; }
  html ::-webkit-scrollbar {
    width: 20px; }
  html ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px; }
  html ::-webkit-scrollbar-thumb {
    background-image: url("../images/gradient_bookeh_bg.jpg"); }
  html ::-webkit-scrollbar-thumb:hover {
    background: #f8f5f5; }
  html body {
    margin: 0;
    background-image: url("../images/stellar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: none; }
    html body ::-webkit-scrollbar {
      display: none; }
    html body #layout-main {
      height: 100%;
      overflow-y: scroll; }
      html body #layout-main #home_container {
        display: flex; }
      html body #layout-main #feed-posts {
        background: antiquewhite;
        width: 70%;
        padding: 10px;
        margin-left: 20px; }
      html body #layout-main #user-friends {
        width: 30%;
        padding: 10px;
        border-left: 1px solid #212121;
        height: 100%;
        margin-left: 10px; }
      html body #layout-main h1 {
        text-align: center;
        font-family: cursive;
        color: antiquewhite; }
      html body #layout-main .link_google, html body #layout-main .link_forget_pw {
        color: antiquewhite;
        font-size: large;
        margin-right: 20px; }
      html body #layout-main #link_desc {
        color: antiquewhite; }
      html body #layout-main .toggle-like-button, html body #layout-main .toggle-like-button i {
        text-decoration: none; }
